.hidden{
    display: none !important;    
}
.ui{
    &.labeled{
        &.icon{
            &.button{
                &.avise-card{
                    margin: 0 !important;
                    padding: 2px 0 0 0 !important;
                    background: transparent;
                    box-shadow: none;
                    color: #000;
                    font-size: .8em;
                    font-weight: 300;
                    text-align: right;
                    width: initial;
                    i{
                        display: none;
                    }
                }
            }
        }
    }
}
.product-in-card{
    &.ui{
        &.card {            
            a{           
                img{
                    &.hidden{
                        &.content{
                            display: block !important;
                        }                            
                    }
                }                
            }            
        }
    }
}
.ui.grid > .stackable.stackable.row > .column{
    &.blocoPreco{
        padding: 0 0 0 15px !important;
        text-align: left !important;
        @media screen and (max-width: $mobile-bp) {
            text-align: center !important;
            padding: 0 !important;
        }
    }
}

.blocoBuscaContainer{
    &.ui{
        &.fluid{
            &.input {
                input{
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: 500;
                }
            }
        }
    }
}