html, body {
    @media screen and (max-width: $mobile-bp) {
        overscroll-behavior-x: none;
    }
}
.hidden{
    display: none !important;    
}
.product-grid{
    #messageStock{
        display: none;
    }
}
.ui{
    &.labeled{
        &.icon{
            &.button{
                &.avise-card{
                    margin: 0 !important;
                    padding: 2px 0 0 0 !important;
                    background: transparent;
                    box-shadow: none;
                    color: #000;
                    font-size: .8em;
                    font-weight: 300;
                    text-align: right;
                    width: initial;
                    i{
                        display: none; 
                    }
                }
            }
        }
    }
}
.ui{
    &.animated{
        &.button {
            .hidden{
                &.content{
                    display: block !important;
                }
            }
        }
    }
}
.product-in-card{
    &.ui{
        &.card {            
            a{           
                img{
                    &.hidden{                        
                        &.content{
                            display: block !important;
                            @media screen and (max-width: $mobile-bp) {
                                display: none;
                            }
                        } 
                        
                    }
                }                
            }            
        }      
    }
}
.produto{
    &.detalhes {
        .slick-slider {
            a{
                @media screen and (min-width: $tablet-bp-min){
                    border: 1px solid #e7e7e7;
                }
            }
        }
    }
}

.products-carousel, #RelatedProducts{
    .ui{
        &.card {            
            a{           
                img{
                    &.hidden{                        
                        &.content{          
                            filter: brightness(100);                  
                            @media screen and (max-width: $mobile-bp) {
                                filter: brightness(100);
                            }
                        } 
                        
                    }
                }                
            }            
        }      
    }
}
.products-carousel{
    padding: 0 3.5em;
    @media screen and (max-width: $mobile-bp) {
        padding: 0;
    }
}
.products-carousel-mais{
    padding: 0 3.5em;
    @media screen and (max-width: $mobile-bp) {
        padding: 0 10px;
    }
}
.ui.grid > .stackable.stackable.row > .column{
    &.blocoPreco{
        padding: 0 0 0 15px !important;
        text-align: left !important;
        @media screen and (max-width: $mobile-bp) {
            text-align: center !important;
            padding: 0 !important;
        }
    }
}
.slideshow{
    .card{
        &.produto {
            .content {
                .info {
                    .sku-options{
                        @media screen and (max-width: $mobile-bp) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
.wx-watermark{
    display: none;
}
.blocoBuscaContainer{
    &.ui{
        &.fluid{
            &.input {
                input{
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width: $mobile-bp) {
    .mobile-banner{
        .footerHalf{
            margin-left: 0 !important;
            margin-right: 0 !important;
            .slideshow-item{
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .slick-dots{
                position: absolute;
                bottom: 13px;
            }
        }
    }
    .checkSuccess{
        padding: 0 0 1em;
        .box{
            &.success{
                .item{
                    &.detalhes{
                        margin: .5em 0;
                    }
                }
            }
        }
        .button {
            &.fluid {
                &.large{
                    &.basic{
                        background: #000 !important;
                        color: #fff !important;
                    }
                }
            }
        }
    }
    
    .breadcrumbs {
        &.group-products{
            .ui{
                &.breadcrumb{
                    margin: 15px 0 2px 7px !important;
                    font-size: 11px;
                    .section{
                        & > span{
                            font-weight: 700;
                        }
                        
                    }
                }
            }
        }
        .ui{
            &.breadcrumb{
                margin: 15px 0 2px 13px !important;
                font-size: 11px;
                .section{
                    & > span{
                        font-weight: 700;
                    }
                    
                }
            }
        }
    }
    .card-checkout{
        &.margin{
            &.bottom{
                &.small{
                    margin-bottom: 0 !important;
                    margin-top: 0 !important;
                    .card{
                        margin: 0;
                    }
                }
            }
        }        
    }
    .container-card {
        &.one-card{
            .margin{
                &.top{
                    &.medium{
                       
                    }
                }
            }
        }
    }
}
@media screen and (min-width: $tablet-bp-min){
    .checkSuccess{
        padding: 0 0 1em;
        .box{
            &.success{
                .item{
                    &.detalhes{
                        margin: .5em 0;
                    }
                }
            }
        }
        .button {
            &.fluid {
                &.large{
                    &.basic{
                        background: #000 !important;
                        color: #fff !important;
                    }
                }
            }
        }
    }
    
    .breadcrumbs {
        &.group-products{
            .ui{
                &.breadcrumb{
                    margin: 15px 0 2px 7px !important;
                    font-size: 11px;
                    .section{
                        & > span{
                            font-weight: 700;
                        }
                        
                    }
                }
            }
        }
        .ui{
            &.breadcrumb{
                margin: 15px 0 2px 13px !important;
                font-size: 11px;
                .section{
                    & > span{
                        font-weight: 700;
                    }
                    
                }
            }
        }
    }
    .card-checkout{
        &.margin{
            &.bottom{
                &.small{
                    margin-bottom: 0 !important;
                    margin-top: 0 !important;
                    .card{
                        margin: 0;
                    }
                }
            }
        }        
    }
    .container-card {
        &.one-card{
            .margin{
                &.top{
                    &.medium{
                       
                    }
                }
            }
        }
    }
}
.wsmenu-list{
    li {
        .item-ver-todos{
            @media screen and (min-width: $tablet-bp-min) {
                display: block;
                width: 100%;
                padding: 8px 15px;
                font-weight: 600;                      
            }  
        }
    }    
}
#filtroList{
    .cro-sidebar{
        .title{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            padding-left: 8px;
            
            &.active{
                box-shadow: none
            }
            h2{
                font-size: 15px;
                padding: 16px 0 10px;
                margin: 0;
            }
            
        }
        .content{
            p{
                padding: 0 0 10px 10px;
                font-size: 12px;
            }
        }
    }
}
.cro-category{
    padding: 40px 0 0 20px;
    width: 100%;
    .title{
        display: flex;
        align-items: center;
        width: 100%;
        i{
            color: #c6c6c6;
        }
        h2{
            margin: 0;
            padding: 0;
            font-size: 13px;
        }
    }
    .content{
        padding: 10px 0 20px 0 !important;
        p{
            font-size: 12px;
        }
    }

}
.privacy-police{
    top: initial;
    bottom: initial;
}
.sidebar-groups{
    .ui{
        &.vertical{
            &.menu{
                width: 100%;                
                .item {                    
                    line-height: 25px;
                    padding-bottom: 5px;
                    padding-top: 5px;
                    text-transform: uppercase;
                    font-weight: 600;
                    .ocultoSeo{
                        visibility: hidden;
                        font-size: initial;
                        line-height: 0;
                        margin: 0;
                    }
                    & > .header:not(.ui){
                        color: #000;
                        padding: 15px 0 0 0;
                        text-transform: uppercase;
                    }                    
                }
            }
        }
    }
}
.msg-none{
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
    position: relative;
    padding: 1rem 1rem;
    margin: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    width: 100%;
    text-align: center;
    
}
.ui {
    &.grid {
        .row {
            .ui{
                &.container{
                    @media only screen and (max-width: 480px){
                        padding-left: 0em !important;
                        padding-right: 0em !important;
                    }
                }
            }
        }
    }        
}
@media screen and (min-width: $tablet-bp-min) {
    #exibePartial{
        .ui{
            &.grid{
                justify-content: space-evenly;
                flex-direction: row-reverse;
                flex-wrap: nowrap;
                align-items: center;
                &>.row{
                    &.one{
                        width: 30% !important;
                    }
                    .slick-next{
                        transform: rotate(90deg);
                        bottom: -37px;
                        right: auto;
                        left: 40%;
                    }
                    .slick-prev{
                        transform: rotate(90deg);
                        top: -37px;
                        left: auto;
                        right: 40%;
                        bottom: auto;
                    }
                }
            }            
        }
    }
}

.pitbar-home{
    background-color: #DEDEDE;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: relative;
    top: -6px;
    @media screen and (max-width: $mobile-bp) {
        padding: 20px 0 15px;        
        &.slick-slider{
            margin-bottom: 0 !important;
        }
    }
    h3, h4, p{
        font-family: $font-mont-name;
    }    
    .item{
        &.first{
            h3{
                text-transform: uppercase;
                font-size: 32px;
                font-weight: 400;
                font-family: $font-mont-name;
                letter-spacing: -1px;
            }            
        }
        text-align: center;        
        h4{
            padding: 0;
            margin: 0;
            font-size: 17px;
            font-weight: 600;
        }
        p{
            font-size: 15px;
            span{
                font-weight: 600;
            }
        }
    }
    &.mobile{
        .item{
            text-align: left;
            .box{
                display: flex;
                justify-content: center;
                align-items: center;
                .frete{                    
                    color: #000000;
                    padding-right: 10px;
                    margin-right: 10px;                    
                    font-size: 15px;
                    text-transform: uppercase;
                    width: auto;
                    border-right: 2px solid #ccc;
                    text-align: right;
                }
                h4{
                    font-size: 14px;
                    text-align: left;
                }
                p{
                    font-size: 13px;
                    text-align: left; 
                }
            }
        }
    }
}

.hotsite{
    .desktop-menu{
        display:none !important;
    }
    .ui.grid {
        > .row.sec-row-header{
            border: transparent;
        }
    }
    .influencer{
        font-family: $font-mont-name;  
        .sec-01{              
            @media screen and (max-width: $mobile-bp) {                
                overflow: hidden;
            }   
            .row{
                max-width: 950px;  
                display: grid;
                grid-template-columns: 1.7fr 1fr;
                flex-wrap: nowrap;
                margin: 0 auto;
                @media screen and (max-width: $mobile-bp) {
                    display: grid;
                    grid-template-columns: 1fr;
                }
                .esq{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    padding-right: 20px;
                    @media screen and (max-width: $mobile-bp) {
                        grid-column: 1;
                        grid-row: 1;
                        z-index: 1;
                        padding: 0 30px;
                        text-align: center;
                    }
                    img{
                        max-width: 300px;
                        height: auto;
                        @media screen and (max-width: $mobile-bp) {
                            margin: 0 auto;
                            filter: invert(1);
                            max-width: 90%;
                        }
                    }
                    h1{
                        text-transform: uppercase;
                        font-size: 43px;
                        font-weight: 600;
                        font-family: $font-mont-name;
                        letter-spacing: 6px;
                        color: #CACACA;
                        @media screen and (max-width: $mobile-bp) {
                            font-size: 38px;
                        }
                    }
                    h2{                        
                        font-size: 21px;
                        font-weight: 500;
                        font-family: $font-mont-name;                        
                        color: #000;
                        margin: 0;
                        padding: 50px 0;
                        @media screen and (max-width: $mobile-bp) {
                            font-size: 19px;
                            padding: 31px 0 11px;
                            line-height: 28px;
                            color: #fff;
                        }                        
                    }
                    p{
                        font-family: $font-mont-name;  
                        font-size: 16px;        
                        @media screen and (max-width: $mobile-bp) {
                            color: #fff;
                            padding: 7px 0 0;
                        }  
                    }
                    .btn-sec-prod{
                        font-family: $font-mont-name;  
                        background-color: #000;
                        color: #fff;
                        padding: 15px 30px;
                        font-size: 12px;
                        text-transform: uppercase;
                        width: fit-content;
                        display: none;
                        @media screen and (max-width: $mobile-bp) {
                            margin: 0 auto;
                            background-color: #fff;
                            color: #000;
                            margin: 20px auto 0;
                            display: block;
                        }  
                    }
                }
                .dir{
                    @media screen and (max-width: $mobile-bp) {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    video{
                        @media screen and (max-width: $mobile-bp) {
                            width: 100%;
                            filter: brightness(.6);
                            max-height: 530px;
                            background-color: #000;
                        }
                    }
                }
            }
        }
        .sec-02{
            background-color: #E8E8E8;
            padding: 80px 0 0;
            @media screen and (max-width: $mobile-bp) {
                padding: 20px 0 0 !important;
            }
            .title{
                text-align: center;
                h2{
                    text-transform: uppercase;
                    font-size: 26px;
                    font-weight: 500;
                    font-family: $font-mont-name;                        
                    color: #000;
                    margin: 0;
                    padding-bottom: 15px;
                    @media screen and (max-width: $mobile-bp) {
                        padding: 0 10px;
                    }
                }
                h3{
                    font-family: $font-mont-name;  
                    font-size: 16px;
                    margin: 0;
                    font-weight: 400;
                    color: #898989;
                    @media screen and (max-width: $mobile-bp) {
                        margin-bottom: 10px;
                    }
                }
            }
            .products-carousel-mais{
                padding: 50px;
                @media screen and (max-width: $mobile-bp) {
                    padding: 20px;
                }
                .grup_01{
                    .ui.grid > .column:only-child{
                        padding-bottom: 0;
                     }
                }
                .card.produto {
                    @media screen and (max-width: $mobile-bp) {
                        min-height: auto !important;
                    }
                    .content{                        
                        .dados{
                            h3{
                                font-family: $font-mont-name;  
                            }
                        }
                        .info {
                            display: none;
                            .sku-options {
                                &:before{
                                    @media screen and (max-width: $mobile-bp) {
                                        left: -9px;
                                    }
                                }
                                .dropdown {
                                    .icon{
                                        right: 13px;
                                        @media screen and (max-width: $mobile-bp) {
                                            right: 0;
                                        }
                                    }
                                    .text{
                                        @media screen and (max-width: $mobile-bp) {
                                            font-size: 10px;
                                        }
                                    }
                                }
                                .btn-comprar-card{
                                    @media screen and (max-width: $mobile-bp) {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                        
                    }

                }
                .ui.cards > .card > .content, 
                .ui.card > .content{
                    @media screen and (max-width: $mobile-bp) {
                        padding: 1em 0.8em;
                    }
                }
                .call-to-action-box{
                    display: flex;
                    justify-content: center;
                    padding-top: 40px;
                    .btn-call-to-action{
                        font-family: $font-mont-name;  
                        background-color: #000;
                        color: #fff;
                        padding: 15px 30px;
                        font-size: 12px;
                        text-transform: uppercase;                    
                     
                    }
                }
                
            }
        }
        .sec-03{
            padding: 30px 0 0;
            .title{
                text-align: center;
                h2{
                    text-transform: uppercase;
                    font-size: 23px;
                    font-weight: 500;
                    font-family: $font-mont-name;                        
                    color: #000;
                    margin: 0;
                    padding-bottom: 15px;
                }
                h3{
                    font-family: $font-mont-name;  
                    font-size: 16px;
                    margin: 0;
                    font-weight: 400;
                    color: #898989;
                }
            }
            .lojas{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 100px;
                @media screen and (max-width: $mobile-bp) {
                    padding: 20px;
                    flex-wrap: wrap;
                }
                .infos{                    
                    border: 1px solid #ddd;
                    padding: 20px;
                    width: 100%;
                    margin: 10px;
                    border-radius: 5px;
                    min-height: 165px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    box-shadow: 0 0 11px #0000000d;
                    h3{
                        font-family: $font-mont-name;  
                        font-size: 13px;
                        font-weight: 400;
                    }
                    h4{
                        font-family: $font-mont-name;  
                        font-size: 15px;
                        font-weight: 600;
                        padding: 0 0 10px;
                        margin: 0;
                    }
                    svg{
                        max-width: 16px;
                        position: relative;
                        top: 3px;
                        height: auto;
                    }
                }
            }
            .imagens-lojas{
                padding: 0 100px;
                @media screen and (max-width: $mobile-bp) {
                    padding: 20px;                 
                }
                img{
                    padding: 20px;
                    max-height: 319px;
                    border-radius: 5px;
                }
                .slick-dots{
                    bottom: -16px;
                }
                &.slick-slider {
                    .slick-prev{
                        position: absolute;
                        left: 25px;
                        top: 50%;
                        bottom: auto;
                        background: transparent;
                        border: 0;
                        &:before{
                            content: "\f060";
                            font-family: 'Icons';
                            font-size: 20px;
                            line-height: 1;
                            opacity: .75;
                            color: #000;
                            -webkit-font-smoothing: antialiased;
                        }
                    }
                    .slick-next{
                        position: absolute;
                        right: 25px;
                        top: 50%;
                        bottom: auto;  
                        background: transparent;
                        border: 0; 
                        &:before{
                            content: "\f061";
                            font-family: 'Icons';
                            font-size: 20px;
                            line-height: 1;
                            opacity: .75;
                            color: #000;
                            -webkit-font-smoothing: antialiased;
                        }                 
                    }
                }
            }
        }
    }
}

.msg-recebahoje {
    font-size: 11px;
    text-transform: initial;
    font-weight: 500;
    margin: 10px 0 0 0;
}
input[data-mode="Receba hoje"] + label span:before {
    content: "Pedidos feitos até as 12hs serão entregues hoje até as 21hs";
    display: block;
    background-color: #fff8db;
    color: #b58105;
    -webkit-box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent;
    box-shadow: inset 0 0 0 1px #b58105, 0 0 0 0 transparent;
    padding: 6px 8px;
    margin: 10px 0;
    border-radius: 5px;
}

/*black friday*/
/*
._header {
    &.fixed{
        .first-row-header{
            background-color: #000;
            .logo{                
                filter: invert(1);                
            }
            svg{
                path{
                    fill: #fff;
                }
            }
        }
    }
}
.desktop-menu .menuheader .ui.menu .item.sale{
    background-color: #000;
}

.menuheader .animated-arrow span{
    background-color: #fff;
}

.menuheader .animated-arrow span:before, .menuheader .animated-arrow span:after{
    background: #fff;
}
.wsoffcanvasopener .animated-arrow{
    background: #000;
}

.wsoffcanvasopener .animated-arrow span {
    background-color: transparent;
}
*/
/*black friday*/
@media screen and (max-width: $mobile-bp) {
    .ui.visible.right.sidebar~.pusher {
        -webkit-transform: translate3d(-500px,0,0);
        transform: translate3d(-500px,0,0);
    }
}

.ui{
    &.grid {
        & > .stackable{
            &.stackable{
                &.row {
                    & > .column{
                        &.btnComprar{
                            @media screen and (max-width: $mobile-bp) {
                                padding: 0 0 !important;
                                line-height: initial;
                            }
                        }                        
                    }
                }
            }
        }
    }
}