.hidden{
    display: none !important;    
}
.ui{
    &.labeled{
        &.icon{
            &.button{
                &.avise-card{
                    margin: 0 !important;
                    padding: 2px 0 0 0 !important;
                    background: transparent;
                    box-shadow: none;
                    color: #000;
                    font-size: .8em;
                    font-weight: 300;
                    text-align: right;
                    width: initial;
                    i{
                        display: none;
                    }
                }
            }
        }
    }
}
.product-in-card{
    &.ui{
        &.card {            
            a{           
                img{
                    &.hidden{
                        &.content{
                            display: block !important;
                            @media screen and (max-width: $mobile-bp) {
                                display: none;
                            }
                        }                            
                    }
                }                
            }            
        }      
    }
}
.ui.grid > .stackable.stackable.row > .column{
    &.blocoPreco{
        padding: 0 0 0 15px !important;
        text-align: left !important;
        @media screen and (max-width: $mobile-bp) {
            text-align: center !important;
            padding: 0 !important;
        }
    }
}
.wx-watermark{
    display: none;
}
.blocoBuscaContainer{
    &.ui{
        &.fluid{
            &.input {
                input{
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 1px;
                    font-weight: 500;
                }
            }
        }
    }
}
.ui{
    &.slide{
        &.reveal {
            &> .hidden{
                &.content{
                    @media screen and (max-width: $mobile-bp) {
                        transform: translateX(0) !important; 
                        transition: none !important;                                           
                    }
                }
            }
        }
    }
}

.ui{
    &.slide{
        &.masked{
            &.reveal{
                &:hover{
                    &> .hidden{
                        &.conent{
                            
                            transform: none !important;
                            transition: none !important;
                            z-index: 999 !important;
                        }
                    }
                }
                &.image {
                    &> .visible.content{
                        @media screen and (max-width: $mobile-bp) {
                            transform: translateX(0) !important; 
                            transition: none !important;                                                             
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $mobile-bp) {
    .breadcrumbs {
        &.group-products{
            .ui{
                &.breadcrumb{
                    margin: 15px 0 2px 7px !important;
                    font-size: 11px;
                    .section{
                        & > span{
                            font-weight: 700;
                        }
                        
                    }
                }
            }
        }
        .ui{
            &.breadcrumb{
                margin: 15px 0 2px 13px !important;
                font-size: 11px;
                .section{
                    & > span{
                        font-weight: 700;
                    }
                    
                }
            }
        }
    }
    .card-checkout{
        &.margin{
            &.bottom{
                &.small{
                    margin-bottom: 0 !important;
                    margin-top: 0 !important;
                    .card{
                        margin: 0;
                    }
                }
            }
        }        
    }
    .container-card {
        &.one-card{
            .margin{
                &.top{
                    &.medium{
                       
                    }
                }
            }
        }
    }
}