$bgBox: #fff;
$borderBox: 0px;
$radiusBox: 0px;

.flexCenter {
    align-items: center;
    display: flex;
    justify-content: center;
}

.cart-divider {
    margin: 30px 0;
    width: 100%;

    & > .container {
        display: flex;
        align-items: center;
    }

    svg {
        width: 30px;
        margin: 0 20px;
    }

    .line {
        flex: 1;
        width: 100%;
        height: 2px;
        background: #eee;
        display: inline-block;
    }
}

.header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    .mobile {
        padding: 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;        
        &.compra-segura{
            @media screen and (max-width: $mobile-bp) {
                padding: 1em 0 2em;
            }            
        }
    }
}
@media screen and (max-width: $mobile-bp) {
    .text-checkout{
        text-transform: uppercase;
        font-size: .9em;
        color: #000;
    }
    .jet {
        &.checkout{
            &.register{
                .ui{
                    &.dividing{
                        &.header{
                                text-transform: uppercase;
                                padding: 1em 0;
                                border-top: 1px solid #C6C6C6;
                                border-bottom: 1px solid #C6C6C6;
                            &:first-of-type{
                                padding: 1em 0;
                                border-top: 1px solid #C6C6C6;
                                border-bottom: 1px solid #C6C6C6;
                            }
                        }
                    }
                }
            }
            .ui{
                &.segment{
                    background: transparent;
                    .field {
                        & > label{
                            text-align: left;
                            text-transform: uppercase;
                            font-weight: 500;
                            @media screen and (max-width: $mobile-bp) {
                                text-align: left;
                            }
                        }
                        .input{
                            i{
                                opacity: 0.2;
                            }
                            input{
                                &[type='text']{
                                    border: 1px solid #D4D4D4;
                                    font-size: .8em;
                                    margin: 1em 0;
                                    padding-left: 3.3em !important;
                                    font-weight: 100 !important;
                                }
                            }
                        }                       
                    }
                    button{
                        &.ui{ 
                            &.right{
                                &.floated{
                                    border-radius: 0!important;
                                    width: 100%;
                                    position: fixed;
                                    bottom: 0;
                                    left: 0;
                                    margin: 0;
                                }
                            }
                        }                            
                    }
                }               
            }            
        }
    }
    .title-checkout{
        border-top: 1px solid #C6C6C6;
        border-bottom: 1px solid #C6C6C6; 
        margin: 1em 0 0;
        display: block;
        padding: 1em 0;
        h1{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1em;
            text-transform: uppercase;
            font-size: 1em;
            text-align: center;
        }
    }
}
.meu-carrinho {
    margin-top: 15px !important;
    border-top: 1px solid #d4d4d4 !important;
    border-bottom: 1px solid #d4d4d4 !important;
    width: 100%;
    text-align: center !important;
    font-size: 16px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    padding: 20px 0;
}

.elementos {
    .wide {
        svg {
            margin: 0 auto;
        }
    }
}

#miniCarrinho {
    right: 1em;
    background: #fff;
    padding: 0;
    min-width: 370px;
    text-align: left;

    @media screen and (max-width: $mobile-bp) {
        min-width: 90%;
    }

    .fecharCarrinho {
        position: absolute;
        right: 10px;
        top: 10px;
    }
   
    .CloseMiniCart {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid;
        padding-bottom: 1rem;
        cursor: pointer;
    }

    .msgEmpty {
        strong {
            font-size: 16px;
        }
    }

    .item-cart-product {
        flex-direction: column;
        position: relative;
        .removeCartItem {
            background: transparent !important;
            border: 0 !important;
            position: absolute;
            box-shadow: none !important;
            top: 0;
            right: -0.5em;
            padding: 0.5rem;
            cursor: pointer;
            outline: none;
            transition: all 0.5s ease-in-out;
            color: $grey;

            &:hover {
                transform: scale(1.2);
            }
        }

        .wrapper-qty-price {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 10px;

            .description,
            .price {
                flex: 0.4;
                display: flex;
                flex-direction: column;

                span {
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .priceProduct {
                    font-size: 14px;
                }
            }
        }
    }

    .image {
        width: 100% !important;

        a {
            margin: 0 auto;
            display: table;
        }

        img {
            width: 80% !important;
            max-width: 200px;
            margin: 0 auto 20px auto;
            display: inherit;

            // @media screen and (min-width: $mobile-bp) {
            //     max-width: 60px;
            // }
        }
    }

    .content {
        padding-right: 1.5em;
        position: relative;

        .nameProduct {
            h1 {
                font-size: 10px;
                text-transform: uppercase;
                margin: 0;
            }
            div {
                //display: none;
                font-size: 9px;
                font-weight: 300;
                color: #999;
                letter-spacing: 0.5px;
            }
        }
        .priceProduct {
            font-size: 10px;
        }
    }

    .qtdCartMessage {
        text-align: center;
        font-size: 12px;
        display: block;
    }

    .dados-carrinho {
        text-align: center;
        span {
            font-size: 14px;
            text-transform: uppercase;

            #subTotalCarrinho,
            #descontoCarrinho,
            #totalCarrinho {
                font-weight: 600;
            }
        }

        @media screen and (max-width: $mobile-bp) {
            .item {
                margin: 0 !important;
            }
        }
    }

    #mini-carrinho-checkout {
        display: none;
        @media screen and (min-width: $tablet-bp-min) {
            margin-bottom: 1rem;
            display: block;
        }
    }

    #btn_finalizar{
        margin-top: -3em;
        @media screen and (min-width: $tablet-bp-min) {
            margin-top: 0;
        }

    }
}

.ShippingValueBox {
    cursor: pointer;

    label {
        cursor: pointer !important;
        font-weight: 400;
    }
}

.header-checkout {
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
}

#ListProductsCheckoutCompleto {
    > .row {
        > .detalhes {
            &.produtos,
            &.compra {
                @media screen and (max-width: $mobile-bp) {
                    margin: 0 0.5rem 1rem;
                }

                #checkout_products_list_cart,
                > .detalhes {
                    background-color: #fff;
                    border-radius: 10px;
                    padding: 1rem;

                    @media screen and (max-width: $mobile-bp) {
                        padding: 1rem 0.5rem;
                    }

                    .item {
                        border-color: transparent !important;
                        &:not(.no-line) {
                            border-color: #efe8e8 !important;
                        }

                        @media screen and (max-width: $mobile-bp) {
                            margin: 0;
                        }

                        .qtd {
                            &.action {
                                .qtdAction {
                                    background: transparent;
                                    box-shadow: 0 0 0 1px inset #ddd;
                                    border-radius: 0;
                                }

                                input {
                                    border-left: 0;
                                    border-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        > #ClearCart {
            margin: 1rem auto 0 1rem;
            @media screen and (max-width: $mobile-bp) {
                margin: 1rem auto 0;
            }
        }
    }

    .detalhes.produtos {
        box-shadow: none;
    }
    .ui.items {
        .item {
            .ui.image {
                @media screen and (max-width: $mobile-bp) {
                    width: auto !important;
                    max-width: 100px !important;
                }

                + .content {
                    @media screen and (max-width: $mobile-bp) {
                        padding-left: 1em !important;
                    }
                }
            }

            .description {
                > span.title {
                    color: black;
                    font-size: 12px;
                    display: block;
                }

                > .qtd.action {
                    border: 1px solid #ddd;
                    width: 100%;
                    max-width: 150px;

                    .quantidade {
                        border: 0;
                        font-weight: 600;
                        color: $black;
                        font-size: 12px;
                        width: 35px;
                        border-left: 1px solid #ddd;
                        border-right: 1px solid #ddd !important;
                    }

                    .qtdActionEventList,
                    .qtdActionMiniCart {
                        background: transparent;
                        border: 0;
                        padding: 0;
                        outline: none;
                        line-height: initial;
                        width: 35px;
                        height: 35px;
                        cursor: pointer;

                        i {
                            cursor: pointer;
                            font-size: 18px;
                            color: #999;
                            margin: 0;
                        }
                    }
                }
            }

            .subtotal {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                margin-bottom: 1em;
                display: block;
            }
        }
    }
}

.description {
    &.resultado {
        display: none;
        padding-bottom: 0.6em;
    }

    &.frete {
        padding-bottom: 0.6em;

        label {
            text-transform: uppercase !important;
            font-weight: lighter !important;
            width: 100% !important;
            text-align: right;
            font-size: 14px;
            margin-bottom: 10px !important;
            display: inline-block;
        }

        .ui.action.input:not([class*='left action']) > input {
            border-radius: 0 !important;
            border: 1px solid #d4d4d4 !important;
            border-right: 1px solid #d4d4d4 !important;
            min-width: 180px;
        }

        .ui.labeled.button:not(.icon) {
            border: 1px solid #333 !important;
            margin-left: 10px !important;
            padding: 0 20px !important;
            border-radius: 0 !important;
        }
    }
}

.busca.cep {
    display: table;
    height: 100%;

    > p {
        display: table-cell;
        vertical-align: middle;
    }
}

#checkout.progress {
    margin-bottom: 5px !important;
}

.ui.items {
    &.fluid {
        width: 100%;
    }

    &.card-checkout {
        .item {
            margin: 0;
            font-size: 14px;
            .checkbox {
                font-size: 14px;
                width: 100% !important;
            }
        }
    }
}

#checkout {
    display: none;
}

#checkout_products_list_cart,
#checkout_products_list {
    > .item {
        position: relative;
        .removeCartItem {
            background: transparent;
            border: 0;
            position: absolute;
            top: 1rem;
            right: 0;
            padding: 0.5rem;
            cursor: pointer;
            outline: none;
            transition: all 0.5s ease-in-out;
            color: $grey;
            z-index: 0;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

#ListProductsCheckout,
#checkout_products_list,
#checkout_products_list_cart {
    position: relative;
    .product.title {
        h1 {
            font-weight: normal;
            color: $black;
            font-size: 14px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        div {
            font-weight: normal;
            font-size: 11px;
            color: $grey;
        }
    }
    .product.avaibility {
        color: #000;
        font-size: 14px;
        font-weight: 600;
        position: relative;
    }

    .removeCartItem,
    .removeItemEventList {
        position: absolute;
        z-index: 9999;
        padding: 1em;
        right: 0;
        top: -1em;
        i.icon {
            font-size: 1.3em;
            cursor: pointer;
        }
    }
}

#checkout_products_list {
    h1 {
        margin: 0 !important;
    }
    .item {
        background: #fff;
        border-radius: 8px;
        padding: 0.5rem;

        .image {
            width: auto !important;
            img {
                width: auto !important;
                max-height: 100px;
            }
        }
    }
}

.presente {
    .ui.toggle.checkbox input:checked ~ .box:before,
    .ui.toggle.checkbox input:checked ~ label:before {
        background-color: $action !important;
    }
}

.disable_column {
    pointer-events: none;
    opacity: 0.45;
}

#checkOneClickMaxiPago .custom_oneClick {
    width: 25px;
    padding: 0;
    max-width: 25px;
    margin: 4px;
}

@media only screen and (max-width: 768px) {
    #ListProductsCheckout {
        height: 100% !important;
    }

    .checkoutContainer {
        text-align: center;

        label {
            text-align: left;
        }

        h2 {
            text-align: center;
        }

        .sticky {
            text-align: center;
            margin-bottom: 30px;
        }

        .ui.divided.grid:not([class*='vertically divided']) > .row > .column {
            box-shadow: none !important;
        }

        #checkout_products_list_cart {
            table {
                text-align: center;
            }
        }
    }
}

.venda-assistida {
    .info {
        @media only screen and (max-width: 767px) {
            text-align: center;
        }

        .item {
            @media only screen and (max-width: 767px) {
                margin: 1em 0 0 !important;
            }
        }

        .cliente-vinculado {
            width: 72px;
            height: 70px;
            border-radius: 6px;
            color: #fff;
            background-color: $green;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            @media only screen and (max-width: 767px) {
                margin: 0 auto;
                text-align: center;
                margin-bottom: 10px;
                padding: 5px;
            }

            i.icon {
                display: block;
                font-size: 24px;

                @media only screen and (max-width: 767px) {
                    display: inline-block;
                }
            }

            span {
                font-size: 12px;
                line-height: 12px;
                text-align: center;
                font-weight: 700;
                margin-top: 2px;
            }
        }

        .align-self-center {
            align-self: center;
        }

        .content {
            padding-left: 15px !important;

            @media only screen and (max-width: 767px) {
                padding-left: 0 !important;
            }

            .header {
                font-size: 16px;
            }

            .description {
                margin-top: 0 !important;

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .position-button {
        float: right;

        @media only screen and (max-width: 767px) {
            float: none;
            margin: 0 auto;
            display: table;
        }
    }
}

.jetBg {
    h1.meu-carrinho {
        @media only screen and (max-width: 767px) {
            text-align: center;
        }
    }
    .dadosCliente{
        #changeUserPayment{
            @media only screen and (max-width: $mobile-bp) {
                border-radius: 0;
                text-transform: uppercase;
            }
        }
        #listAddressPayment{
            @media only screen and (max-width: $mobile-bp) {
                border-radius: 0;
                background: #000 !important;
                color: #fff !important;
                border: none !important;
                text-transform: uppercase;
                box-shadow: none !important;
            }
        }
    }
    .ui {
        &.segment {
            border: 0 !important;
            background-color: #f7f7f7;
            font-size: 14px;
            border-radius: 8px !important;
            @media only screen and (max-width: $mobile-bp) {
                background-color: #fff;
            }
            .compra{
                background: #fff;
            }
            
            .accordion,
            #resumoCheckout {                  
                .icon{
                    &:first-of-type{
                        /*
                        display: none;
                        */
                    }
                }
                .item{
                    @media only screen and (max-width: $mobile-bp) {
                        padding: .2em 0;
                    }
                }
                .title {
                    font-size: 1em;
                    text-transform: uppercase;
                    font-weight: 800;
                }

                .content {
                    .card-checkout {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    #containerPayment {
        @media only screen and (max-width: $mobile-bp) {
            padding: 0 0.5rem !important;
        }

        .ui {
            .column{               
                &.one{
                    @media only screen and (max-width: $mobile-bp) {
                        padding: 0 !important;
                    }
                }                
            }
            &.segment {
                padding: 0;

                .accordion {
                    border-top: 1px solid #C6C6C6;                    
                    > .title {
                        padding: 1rem;
                        text-transform: uppercase;
                        font-size: 1em;
                        font-weight: 800;

                        &:not(.transparent) {
                            background-color: #fff;                            
                            i{
                                &:first-of-type{
                                    display: none;
                                }
                            }
                        }

                        &.active {
                            border-bottom-left-radius: 0;
                            border-bottom-right-radius: 0;
                        }
                    }
                    > .content {
                        padding: 1rem;
                        @media only screen and (max-width: $mobile-bp) {
                            padding: 0 1rem 1rem 1rem;
                        }
                        background-color: #fff;
                    }
                }
            }
        }

        .backCart {
            text-decoration: underline;
            margin: 1rem;
            display: inline-block;
            width: 100%;
        }

        .shopping-voucher {
            .title {
                span {
                    @media only screen and (max-width: $mobile-bp) {
                        font-size: 16px;
                    }
                }
            }

            #ShoppingVoucherValue {
                @media only screen and (max-width: $mobile-bp) {
                    max-width: 180px;
                }
            }
        }
    }

    .ui.toggle.checkbox input:checked ~ .box:before,
    .ui.toggle.checkbox input:checked ~ label:before,
    .ui.toggle.checkbox input:focus:checked ~ label:before {
        background-color: $action !important;
    }
}

.buySecurity {
    text-align: right;

    @media only screen and (max-width: $mobile-bp) {
        text-align: center;
    }
    i.icon {
        font-size: 50px;
        line-height: 50px;
        margin: 0;
        height: initial;
        @media only screen and (max-width: $mobile-bp) {
            font-size: 23px;
            line-height: 23px;
        }
    }
    .textLock {
        display: inline-block;
        text-align: left;

        span {
            display: block;
            @media only screen and (max-width: $mobile-bp) {
                display: inline-block;
                font-size: 16px;
            }
            &:last-child {
                font-size: 28px;
                font-weight: 600;
                @media only screen and (max-width: $mobile-bp) {
                    font-size: 16px;
                }
            }
        }
    }
}

#containerPayment {
    @media only screen and (max-width: $mobile-bp) {
        padding: 0 0.5rem !important;
        margin: 0 !important;
    }
}

#formas-pagamento {
    .ui {
        &.secondary {
            &.menu {
                .item {
                    background-color: $white;
                    margin: 0.5rem;
                    &.active {
                        box-shadow: 0 0 0 1px $action;
                        padding: .2em .5em;
                    }
                }
            }
        }
    }

    .box-card {
        @media only screen and (max-width: $mobile-bp) {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .blocoTypePayment {
        .titleTypePayment {
            margin-bottom: 0.5em;
            padding: 0.5rem;
            cursor: pointer;
            display: inline-block;
        }

        .contentPayment {
            display: none;
            margin-bottom: 1.5em;
        }
    }

    .cardDebit {
        padding: 1em;
        @media only screen and (max-width: $mobile-bp) {
            padding: 0;
        }
    }

    .description {
        margin: 1em 0 2em;
        border-radius: 0;
    }

    .description {
        .ui.list {
            .item {
                line-height: 22px;
                color: #333;
            }
        }
    }

    .ui {
        &.list {
            padding: 0.5rem;
            margin: 1em auto 2em;
            display: block;
            width: 100%;

            > .item {
                @media only screen and (max-width: $mobile-bp) {
                    margin-top: 1em;
                }
                > .icon {
                    background-color: #f7f7f7;
                    display: table-cell;
                    vertical-align: middle;

                    @media only screen and (max-width: $mobile-bp) {
                        background: transparent;
                    }
                }

                .content {
                    @media only screen and (max-width: $mobile-bp) {
                        line-height: 22px;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: $mobile-bp) {
        .segment {
            padding: 0;
            .jp-card-container {
                width: auto;
                margin: 0 auto;
                transform: scale(1) !important;
            }

            .jp-card {
                min-width: 100%;
            }
        }
    }
}

.textSecurity {
    border: transparent;
    padding: 0 2em 2em 2em;
    display: inline-block;
    text-align: left;
    margin-bottom: 30px;

    @media only screen and (max-width: $mobile-bp) {
        text-align: center;
    }

    img {
        float: left;
        margin-right: 20px;

        @media only screen and (max-width: $mobile-bp) {
            float: none;
            margin: 0 auto 20px;
        }
    }

    span {
        font-size: .9em;
        color: #666666;
        line-height: 22px;
        max-width: 320px;
        display: inline-block;
        text-transform: uppercase;
        padding: 1em 0;

        @media only screen and (max-width: $mobile-bp) {
            max-width: 100%;
        }
    }

    .codeSymbol {
        font-size: 30px;
        font-weight: bold;
        margin-top: 15px;
        letter-spacing: 4px;
        color: #333;
        text-align: center;
    }
}

#updateShippingPayment {
    #GetShippping {
        margin-left: 0;
        margin-right: 0;
        &.card-checkout {
            .card {
                box-shadow: none !important;
                border-radius: 8px !important;
                padding: 1em;
                cursor: pointer;

                @media only screen and (max-width: $mobile-bp) {
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0;
                }

                .checkbox {
                    width: 100%;
                    label {
                        font-weight: 600;
                        span {
                            display: block;
                            line-height: 25px;
                            font-weight: normal;
                        }
                    }
                }

                .meta {
                    padding-left: 2rem;
                    color: #000;
                }

                &.checked {
                    box-shadow: 0 0 0 1px inset $action !important;
                }
            }
        }
    }
}

.blc-key {
    width: 100%;
    max-width: 300px;
    padding: 0 0 0 1em;
    @media screen and (max-width: $mobile-bp) {
        max-width: 97%;
    }

    label {
        line-height: 50px;
        color: #000;
        font-size: 14px;
        margin-right: 15px;
        text-transform: uppercase;
        font-weight: 600;
    }

    #key {
        border: 1px solid #D4D4D4 !important;
        border-radius: 0 !important;
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        width: 100%;
        min-height: 50px;
    }

    #applyDiscount {
        background: transparent;
        position: absolute;
        right: 0;
        line-height: 30px;
    }
}

.checkout-page {
    .frete {
        padding-bottom: 0.6em;

        label {
            text-transform: uppercase !important;
            font-weight: lighter !important;
            width: 100% !important;
            text-align: right;
            font-size: 14px;
            margin-bottom: 10px !important;
            display: inline-block;
        }

        .ui.action.input:not([class*='left action']) > input {
            border-radius: 0 !important;
            border: 1px solid #d4d4d4 !important;
            border-right: 1px solid #d4d4d4 !important;            
        }

        .ui.action.input:not([class*='left action']) > .button:last-child {
            border: 1px solid #333 !important;
            margin-left: 10px !important;
            padding: 0 20px !important;
            border-radius: 0 !important;
            background: transparent !important;
        }
    }
}
