<div class="ui form margin bottom small">
    <div class="ui right labeled input blc-key">        
        <input type="text" name="key" id="key" placeholder="Insira seu cupom de desconto." autocomplete="off">
        <a class="ui label" id="applyDiscount">
            OK
        </a>
    </div>
</div>
