/* Breadbrumbs */
.breadcrumbs {
    @media screen and (max-width: $mobile-bp) {
        text-align: left !important;        
    }
    .row{
        @media screen and (max-width: $mobile-bp) {
            text-align: left !important;
            justify-content: left !important;
        }   
    }
    h1 {
        margin: 0;
        visibility: hidden;
        min-height: initial;
        font-size: unset;
        line-height: 0;
        &.title-internas{
            padding: 10px 0 0 6px;
            font-weight: 500;
            &+.breadcrumb {
                margin: 0 0 2px 0 !important;
            }
        }
    }
}

.ui.breadcrumb {
    text-transform: uppercase;
    color: $black;
    font-size: 12px;
    margin: 10px !important;
    padding: 0;

    a {
        color: #666666;
        &.cursor-default {
            cursor: default;
        }
    }

    li {
        display: inline-block;
    }



}