.hero-banner {
    width: 100%;
    max-height: 808px;
    overflow: hidden;

    @media only screen and (max-width: 767px) {
        /*max-height: 250px;*/
    }
    .ui{
        &.images{
            img{
                @media screen and (max-width: $mobile-bp) {
                   
                }
            }
        }
    }
}
.products-carousel{
    #container-paginate{
        display: none;
        @media screen and (max-width: $mobile-bp) {
            display: none;
        }
    }
    .slick-dots{
        @media screen and (min-width: $tablet-bp-min){
            bottom: -20px;
        }
    }
    
}
.car-banners {
    .container {
        position: relative;
        .description {
            width: 30%;
            height: 100%;
            top: 0;
            bottom: 0;
            position: absolute;
            background: rgba(255, 255, 255, 0.5);
            display: flex;

            .html {
                flex-direction: column;
                vertical-align: middle;
                align-self: center !important;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.ui.images {
    img.side-halfbanner-image {
        margin-left: 0px;
        margin-right: 0px;
    }
}
