.footer-divider {
    margin: 30px 0 0 0;

    & > .container {
        display: flex;
        align-items: center;
    }

    svg {
        width: 30px;
        margin: 0 20px;
    }

    .line {
        flex: 1;
        width: 100%;
        height: 1px;
        background: #d9d9d9;
        display: inline-block;
    }
}

.siga-nos{
    border-top: 1px solid #e5e5e5;
    display: flex;
    padding: 1.3em 0 0;
    margin: 1.5em 0 0 0;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $mobile-bp) {
        padding: 1em 0;
        margin: 1.5em 0 0 0;
    }
}
.newsletter-bar {
    position: relative;
    @media screen and (min-width: $tablet-bp-min){
        padding: 20px 0 0 0;
    }
    .ui.form {
        display: flex;
        flex-direction: column;
    }

    h4 {
        color: #333;
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
    }

    span.text {
        color: #999;
        font-size: 12px;
    }

    .inline.fields {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #cacaca;
        max-width: 450px;
        margin: 0 auto !important;
        @media screen and (min-width: $tablet-bp-min) {
           width: 550px;
           margin: 20px auto !important;
        }
        .field {
            @media screen and (max-width: $mobile-bp) {
                padding-right: 0 !important;
            }
        }
    }

    .textNews {
        text-transform: uppercase;
        text-align: center;
        color: #333;

        @media screen and (min-width: $tablet-bp-min) and (max-width: $tablet-bp-max) {
            max-width: 300px;
        }

        @media screen and (max-width: $mobile-bp) {
            margin: 10px auto !important;
            padding: 0 !important;
        }
    }

    .inline {
        #email_news {
            background: #fff;
            font-size: 12px;
            color: #666666;
            border: 0;
            flex: 1;

            @media screen and (max-width: $mobile-bp) {
                width: 255px;
            }
            @media screen and (min-width: $tablet-bp-min) {
                font-size: 14px;
                min-width: 360px;
            }
        }

        #btn_news {
            margin-left: 5px;
            color: #333;
            font-weight: 400;
            text-transform: uppercase;
            background: transparent;
            font-size: 13px;
            border: 0;

            @media screen and (max-width: $mobile-bp) {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}

.footer-wrap {
    position: absolute;
    bottom: 0px;
}

.security{
   
    background: #EFEFEF;
    text-align: center;
    img{
        margin: .8em auto 2em;
        @media screen and (max-width: $mobile-bp) {
            margin: .8em auto 2em;
        }
    }
}    

ul{
    &.social-icons{
        display: flex;
        margin: 0 0 0 .5em;
        padding: 0;
        li{
            list-style-type: none;
            a{
                padding: 5px 8px;
            }
        }
    }
}
    

.footer {
    background-color: #fff !important;
    padding-bottom: 20px !important;

    h4 {
        font-size: 22px !important;
        font-weight: 600 !important;
        color: #555555 !important;
    }
    i.icon {
        color: #555555 !important;
    }

    > .ui.container {
        > .ui.grid {
            > .column {
                padding-bottom: 0 !important;
            }
        }
    }

    .listMobile {
        .column {
            @media screen and (max-width: $mobile-bp) {
                border-bottom: 1px solid #e5e5e5;
            }
        }
    }

    .header {
        text-transform: uppercase;
        font-size: 14px !important;
        margin: 0;
        @media screen and (min-width: $tablet-bp-min){
            font-size: 16px !important;
        }
        @media screen and (max-width: $mobile-bp) {
            line-height: 30px;
        }

        i.icon:only-child {
            display: none;
            float: right !important;
            font-size: 1em;
        }
    }

    .central-rel{
        ul{           
            margin: 0;
            padding: 0 0 10px;
            li{
                list-style-type: none;
                span{
                    color: #999999;
                    font-size: 13px;
                    padding: 0 5px 0 0;                    
                    font-weight: 500;
                }
                a{
                    color: $ascent-10-color;
                    font-size: 13px;
                    font-weight: 500 !important;                    
                }
            }
        }
    }

    socialbar {       
        display: inline-block;

        a {
            i.icon {
                font-size: 1.7em;
                line-height: 0.95em;
            }
        }
    }

    .list {
        &.link {            
            a,
            h5 {
                color: #333 ;
                font-size: 12px;
                font-weight: normal;
                margin: 0;
                line-height: 20px;
                @media screen and (min-width: $tablet-bp-min){
                    font-size: 14px;
                }
                &:hover,
                &:focus,
                &:checked,
                &:active {
                    color: #fff !important;
                    @media screen and (min-width: $tablet-bp-min){
                        color: #000 !important;
                        opacity: .9;
                    }
                }
                
                &.item{
                    @media screen and (min-width: $tablet-bp-min){
                        padding-left: 0 !important;
                    }
                    &:after{
                        display: none;
                        content: '';
                        visibility: hidden;
                    }
                    &:hover{
                        box-shadow: none;
                        &:after{
                            display: none;
                            content: '';
                            visibility: hidden;
                        }
                    }
                }
            }

            @media screen and (max-width: $mobile-bp) {
                padding: 0;
                text-align: left !important;
                margin: 10px 0 0 0;
                display: none;
                background: transparent;
            }
        }

        &.selos {
            margin-top: 10px;
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: $mobile-bp) {
                justify-content: flex-start;
            }

            a {
                margin: 5px;
                &#seloEconfy {
                    position: relative !important;
                }
            }
        }

        &.selos a img {
            max-height: 100px;
            display: inline-block;
            background-size: cover;
        }
    }

    p {
        color: #999999;
        font-size: 12px;
        font-weight: 400;
        @media screen and (min-width: $tablet-bp-min){
            font-size: 14px;
        }
    }

    h4,
    h5 {
        font-weight: bold;
        font-size: 16px;
        color: $white;
    }

    .tireDuvidas {        
            background: rgb(196, 196, 196);
            color: rgb(0, 0, 0) !important; 
            border-radius: 0;        

        h5 {
            color: $black;
            margin: 0;
            font-size: 1rem;
        }
    }

    .ui.form {
        > .inline {
            > .icon.input {
                @media screen and (max-width: $mobile-bp) {
                    display: table;
                }

                .mail {
                    color: $black;
                    opacity: 1 !important;

                    @media screen and (max-width: $mobile-bp) {
                        top: 22px;
                        height: initial;
                    }
                }

                #email_news {
                    @media screen and (max-width: $mobile-bp) {
                        width: 100%;
                    }
                }

                #btn_news {
                    margin-left: 5px;
                    color: #000;
                    text-transform: uppercase;
                    background: #fff;

                    @media screen and (max-width: $mobile-bp) {
                        width: 100%;
                        margin: 5px auto 0 auto;
                    }
                }
            }
        }
    }
}
.assinatura{
    background: #000000;
    color: #fff;
    .ass-footer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 1em 0 2em;
        .ass-one{
            display: flex;
            margin: 0 10px 0 0;
            border-right: 1px solid #686868;
            padding: 0 10px 0 0;
        }
        @media screen and (max-width: $mobile-bp) {
            padding: 1em 0 1.5em;
        }
        p{
            margin: 0;
            padding: 0 .7em 0 0; 
        }
        svg{
            filter: brightness(100%);
            max-width: 20px;
            height: auto;
        }
        img{
            width: auto;
            height: 20px;
        }
    }
}
.subFooter {
    padding: .8em 0 1.5em;
    background: #DEDEDE;
    @media screen and (max-width: $mobile-bp) {
        text-align: center;
        padding: 0 0 1.5em;
    }

    .menu_subfooter {
        margin-bottom: 1em;

        a.submenu {
            padding: 0.42857143em 0.84285714em;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .textoEmpresa {
        text-align: center;
        color: #000;
        text-transform: uppercase;
        @media screen and (max-width: $mobile-bp) {
            padding: 0;
        }

        > h6 {
            color: #333;
            font-size: 12px;
            font-weight: normal;
            margin: 0 0 10px 0;
            display: inline-block;
        }
        > address {
            color: #333;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            display: inline-block;
        }
    }

    .ui.tiny.images {
        @media screen and (max-width: $mobile-bp) {
            text-align: center;
        }
    }
}

.jetBrand {
    height: 35px;
    text-align: center;
    padding: 0px !important;
    background: black !important;

    img {
        height: 25px;
        margin: 5px;
    }
}
#seloEbit {
    display: inline-block !important;
    width: 84px;
    @media screen and (max-width: $mobile-bp) {
        float: none;
        margin: 0;
        width: auto;
    }
}
#jetLogo {
    height: 57px;

    .st0 {
        fill: rgba(255, 255, 255, 1);
    }

    .st1 {
        fill: rgba(255, 0, 0, 1);
    }
}
