@model List<DomainProduct.Entities.Group>
@if (Model.Any())
{
    <div class="column groupList margin bottom large hidden">
        <div class="ui segment">
            <div class="ui list divided relaxed">
                @if (Model != null)
                {
                    foreach (var group in Model)
                    {
                        <a class="item" href="@group.UrlFriendly"><h3>@group.Name</h3></a>
                    }
                }
            </div>
        </div>
    </div>
}
<div class="column groupList margin bottom large sidebar-groups">
    <div class="ui vertical menu">
        <div class="item">
            <div class="header">Tendências</div>
            <div class="menu">                
                <a class="item" href="/grupo/papete-trend">Papete Trend</a>
                <a class="item" href="/grupo/tachas-e-spikes">Tachas e Spikes</a>
                <a class="item" href="/grupo/shape-quadrado">Shape Quadrado</a>
                <a class="item" href="/grupo/vinil-e-transparencia">Vinil e Transparência</a>
                <a class="item" href="/grupo/almofadado-e-tiras-fofas">Almofadado e Tiras Fofas</a>
                <a class="item" href="/grupo/tirinhas-finas">Tirinhas Finas</a>
                <a class="item" href="/grupo/salto-arquitetonico">Salto Arquitetônico</a>
                <a class="item" href="/grupo/boyish-e-alfaiataria">Boyish e Alfaiataria</a>
                <a class="item" href="/grupo/ludico-super-fun">Lúdico Super Fun</a>
                <a class="item" href="/grupo/cores-pasteis">Nostalgia Suave</a>
                <a class="item" href="/grupo/tudo-amarrado">Tudo Amarrado</a>
                <a class="item" href="/grupo/comfy-em-casa">Comfy em Casa</a>
                <a class="item" href="/grupo/menos-e-mais">Menos é Mais</a>
                <a class="item" href="/grupo/cores-vivas">Cor Brilhante</a>
                <a class="item" href="/grupo/animal-print">Animal Print</a>
                <a class="item" href="/grupo/tons-de-verde">Tons de Verde</a>
                <a class="item" href="/grupo/tudo-rosado">Tudo Rosado</a>
                <a class="item" href="/grupo/tons-terrosos">Tons Terrosos</a>
                <a class="item" href="/grupo/metalizado-invernal">Metalizado Invernal</a>
            </div>
        </div>
        <div class="item">
            <div class="header">Estilo e Uso</div>
            <div class="menu">                
                <a class="item" href="/grupo/classico">Clássico</a>
                <a class="item" href="/grupo/tendencia">Tendência</a>
                <a class="item" href="/grupo/esportivo">Esportivo</a>
                <a class="item" href="/grupo/festa">Festa</a>
                <a class="item" href="/grupo/praia-e-piscina">Praia e Piscina</a>
                <a class="item" href="/grupo/homewear">Homewear</a>
                <a class="item" href="/grupo/coisas-para-casa">Coisas para Casa</a>              
            </div>
        </div>
    </div>
</div>