.swal2-modal {
    .swal2-styled{ 
        background-color: #000 !important;
        border-left-color: #000 !important;
        border-right-color: #000 !important;
    }
}

.ui.card .content img, 
.ui.cards>.card .content img,
.product-in-card.ui.card a img.hidden.content{
    max-width: 300px;
}