//Font
$body-font-size: 14px;
$import-google-fonts: false;
$font-url: 'https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap';
$font-name: 'PT Sans';
$font-mont-name: 'Montserrat', sans-serif;
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;
