@{
    ViewBag.Title = "Isa Domingues";
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}
<div class="influencer">
    <div class="ui container fluid sec-01">        
        <div class="row">
            <div class="column esq">                
                <img src="/assets/image/liveisa/liveisacrop.png" alt="LiveShop MYA com Isa Domingues" title="LiveShop MYA com Isa Domingues">
                <h2>A estreia da Mya na nova experiência de compra online tinha que ser com ela, a pioneira e referência em Live Commerce no Brasil! </h2>                
                <a href="#produtos" class="btn-sec-prod">Conheça os sapatos escolhidos pela Isa Domingues aqui!</a>
            </div>
            <div class="column dir">
                    <video id="video1" autoplay="" muted="" playsinline="" loop="true">
                        <source autoplay="" src="/assets/image/liveisa/nosso-provador-online-video-cutter.com_.mp4" type="video/mp4">
                        <source autoplay="" src="/assets/image/liveisa/nosso-provador-online-video-cutter.com_.mp4" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>    
            </div>
        </div>        
    </div>
    
    <div class="ui container fluid sec-02" id="produtos">
        <div class="ui two column grid stackable middle aligned margin bottom large">
            <div class="row one column">
                <div class="column">
                    <div class="title">
                        <h2>Escolhas da Isa Domingues</h2>                        
                    </div>
                    <div class="products-carousel-mais">
                        <div class="grup_01">
                            @Html.Action("ProductsByGroup", "Product", new { id = 7580 });                                                        
                        </div>                           
                        <div class="grup_02">
                            @Html.Action("ProductsByGroup", "Product", new { id = 7605 });
                        </div>
                        <div class="call-to-action-box">
                            <a href="https://www.myahaas.com.br/" class="btn-call-to-action">conheca outros produtos da Mya</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container fluid sec-03">
        <div class="title">
                <h2>Conheça nossas lojas</h2>            
        </div>

        <div class="lojas">
            <div class="infos">
                <h3>Unidade Anália Franco</h3>
                <h4>Praça Marechal Rodrigues Ribas Junior, 105<br>
                    São Paulo / SP</h4>
            <a class="whatsapp" href="https://api.whatsapp.com/send?phone=11993008443"><svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M9.66234 5.79834C9.61158 5.80341 9.56155 5.81416 9.51319 5.83038C7.99467 6.29675 6.91924 7.12152 6.33846 8.19546C5.75768 9.26939 5.68429 10.5282 5.93362 11.807C6.43228 14.3646 8.20183 17.1135 10.44 19.4029C12.6783 21.6923 15.3771 23.5248 17.9507 24.0585C19.2376 24.3253 20.5189 24.2547 21.6262 23.6749C22.7335 23.0951 23.6145 22.0139 24.1617 20.4682C24.2122 20.3233 24.2123 20.1656 24.1621 20.0206C24.1118 19.8756 24.0141 19.7518 23.8847 19.6692L19.0267 16.6223L19.0161 16.6118C18.9922 16.596 18.9672 16.5818 18.9415 16.5692C18.8701 16.5229 18.7906 16.4903 18.7071 16.4733C18.7 16.4732 18.6929 16.4732 18.6858 16.4733C18.6682 16.4691 18.6505 16.4655 18.6326 16.4627C18.629 16.4627 18.6255 16.4627 18.6219 16.4627C18.5082 16.4561 18.3947 16.4781 18.2917 16.5266C18.2543 16.5447 18.2186 16.5661 18.1851 16.5906C18.163 16.6036 18.1417 16.6178 18.1212 16.6332C18.1138 16.6437 18.1067 16.6544 18.0999 16.6652C18.0731 16.6881 18.0482 16.7131 18.0253 16.7398L16.96 17.8158C15.0284 16.8435 13.5431 15.2135 12.2085 13.0111L13.1886 12.0416C13.2074 12.0249 13.2251 12.0071 13.2419 11.9884C13.2567 11.9748 13.271 11.9606 13.2845 11.9457C13.2845 11.9422 13.2845 11.9387 13.2845 11.9352C13.2993 11.9216 13.3136 11.9074 13.3271 11.8926C13.3272 11.889 13.3272 11.8855 13.3271 11.882C13.3345 11.8715 13.3416 11.8608 13.3484 11.85C13.3557 11.8431 13.3628 11.836 13.3697 11.8288C13.3776 11.8114 13.3847 11.7936 13.3911 11.7755C13.3911 11.772 13.3911 11.7685 13.3911 11.765C13.3947 11.758 13.3983 11.7509 13.4017 11.7438C13.4093 11.7299 13.4164 11.7157 13.423 11.7012C13.4273 11.6836 13.4308 11.6659 13.4337 11.648C13.4337 11.6444 13.4337 11.6409 13.4337 11.6374C13.4382 11.6163 13.4418 11.5949 13.4443 11.5735C13.4444 11.57 13.4444 11.5664 13.4443 11.5629C13.445 11.5452 13.445 11.5274 13.4443 11.5096C13.4444 11.5061 13.4444 11.5026 13.4443 11.4991C13.445 11.4813 13.445 11.4635 13.4443 11.4458C13.4444 11.4388 13.4444 11.4317 13.4443 11.4247C13.4415 11.4068 13.4379 11.389 13.4337 11.3714C13.4337 11.3679 13.4337 11.3643 13.4337 11.3608C13.4231 11.3205 13.4088 11.2813 13.3911 11.2436C13.3911 11.2401 13.3911 11.2366 13.3911 11.2331C13.3789 11.2037 13.3646 11.1752 13.3484 11.1478L13.3378 11.1267C13.3343 11.1231 13.3307 11.1196 13.3271 11.1162L10.2909 6.13032C10.232 6.03236 10.1494 5.95075 10.0508 5.89304C9.95211 5.83532 9.84052 5.80336 9.72626 5.80005C9.70497 5.79905 9.68364 5.79905 9.66234 5.80005V5.79834ZM9.41731 7.30046L11.8996 11.4021L10.8662 12.4248C10.761 12.531 10.6936 12.6687 10.6743 12.8169C10.6551 12.9652 10.685 13.1156 10.7596 13.2451C12.3366 15.976 14.2051 18.1006 16.8215 19.2537C16.9469 19.3094 17.0861 19.3259 17.2211 19.3012C17.356 19.2765 17.4804 19.2117 17.5779 19.1152L18.6752 18.0179L22.6809 20.5214C22.2373 21.5197 21.6591 22.114 20.9976 22.4604C20.2315 22.8616 19.2957 22.9375 18.2277 22.7161C16.0919 22.2732 13.512 20.5945 11.4095 18.444C9.30707 16.2935 7.68008 13.6785 7.26531 11.5512C7.05792 10.4876 7.14954 9.57148 7.5423 8.84523C7.88048 8.2199 8.45491 7.68453 9.41731 7.30046Z" fill="black" fill-rule="evenodd"></path>
                    <path clip-rule="evenodd" d="M15 0C6.72579 0 0 6.72232 0 15C0 18.008 0.89136 20.8195 2.46298 23.2314L0.785483 28.8294C0.7495 28.9495 0.747365 29.0773 0.779314 29.1986C0.811263 29.3199 0.876058 29.43 0.966567 29.5169C1.05708 29.6037 1.16979 29.664 1.29231 29.6909C1.41483 29.7178 1.5424 29.7104 1.66098 29.6695L7.14028 27.7785C9.42182 29.1867 12.1198 30 15 30C23.2774 30 30 23.2774 30 15C30 6.72252 23.2774 0 15 0V0ZM15 1.36344C22.5408 1.36344 28.6365 7.45913 28.6365 15C28.6365 22.5408 22.5408 28.6366 15 28.6366C12.2664 28.6366 9.72404 27.8348 7.59827 26.4555C7.51136 26.3991 7.41274 26.3632 7.3099 26.3506C7.20706 26.3381 7.10271 26.3491 7.00477 26.3829L2.47342 27.9467L3.86093 23.3162C3.89005 23.219 3.89711 23.1165 3.88159 23.0162C3.86607 22.9159 3.82837 22.8204 3.77122 22.7365C2.23077 20.4763 1.36343 17.8437 1.36343 15C1.36343 7.45933 7.46272 1.36344 15 1.36344V1.36344Z" fill="black" fill-rule="evenodd"></path>
                </svg> (11) 99300-8443 </a> <a class="phone" href="tel:1122682361"> <svg fill="none" height="25" viewBox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M5.03751 0.79834C4.97133 0.804948 4.90611 0.818959 4.84306 0.840115C2.86336 1.44812 1.46131 2.52337 0.70415 3.92347C-0.0530139 5.32356 -0.148685 6.96463 0.17637 8.6318C0.826471 11.9661 3.13344 15.5499 6.0514 18.5346C8.96936 21.5194 12.4879 23.9083 15.8431 24.6041C17.5207 24.952 19.1912 24.86 20.6348 24.1041C22.0784 23.3482 23.227 21.9386 23.9404 19.9235C24.0062 19.7346 24.0064 19.529 23.9408 19.3399C23.8753 19.1509 23.7479 18.9895 23.5793 18.8819L17.2459 14.9096L17.232 14.8959C17.2008 14.8753 17.1683 14.8568 17.1348 14.8403C17.0416 14.7799 16.938 14.7375 16.8292 14.7153C16.82 14.7152 16.8107 14.7152 16.8015 14.7153C16.7785 14.7098 16.7553 14.7052 16.732 14.7015C16.7274 14.7015 16.7228 14.7015 16.7181 14.7015C16.5699 14.6929 16.4219 14.7216 16.2876 14.7849C16.2388 14.8083 16.1923 14.8362 16.1487 14.8682C16.1199 14.8851 16.0921 14.9037 16.0653 14.9237C16.0557 14.9374 16.0464 14.9514 16.0376 14.9655C16.0027 14.9954 15.9702 15.0279 15.9403 15.0627L14.5514 16.4656C12.0333 15.198 10.0969 13.0729 8.35697 10.2016L9.63475 8.93771C9.65916 8.91586 9.68235 8.89269 9.7042 8.86829C9.72353 8.8506 9.74206 8.83206 9.75975 8.81273C9.75979 8.80814 9.75979 8.80355 9.75975 8.79895C9.77908 8.78126 9.79762 8.76273 9.81531 8.7434C9.81535 8.73881 9.81535 8.73421 9.81531 8.72962C9.82496 8.71596 9.83422 8.70203 9.84309 8.68784C9.85255 8.67886 9.86181 8.66967 9.87087 8.66028C9.8811 8.63753 9.89036 8.61437 9.89864 8.59084C9.89868 8.58624 9.89868 8.58165 9.89864 8.57706C9.90343 8.56795 9.90806 8.55876 9.91253 8.54949C9.92244 8.53131 9.9317 8.51278 9.94031 8.49394C9.94586 8.47099 9.95049 8.44784 9.9542 8.42452C9.95423 8.41993 9.95423 8.41533 9.9542 8.41074C9.96015 8.3832 9.96478 8.35539 9.96809 8.32741C9.96812 8.32281 9.96812 8.31822 9.96809 8.31363C9.96899 8.29048 9.96899 8.2673 9.96809 8.24415C9.96812 8.23956 9.96812 8.23497 9.96809 8.23037C9.96899 8.20724 9.96899 8.18409 9.96809 8.16096C9.96823 8.15177 9.96823 8.14258 9.96809 8.1334C9.96438 8.11006 9.95975 8.08689 9.9542 8.06392C9.95423 8.05933 9.95423 8.05474 9.9542 8.05014C9.94038 7.99763 9.92179 7.94651 9.89864 7.89739C9.89868 7.8928 9.89868 7.8882 9.89864 7.88361C9.88274 7.84532 9.86417 7.8082 9.84309 7.7725L9.8292 7.74494C9.82462 7.74029 9.81999 7.73573 9.81531 7.73119L5.85696 1.23115C5.78018 1.10343 5.67254 0.997034 5.54391 0.921794C5.41528 0.846555 5.2698 0.80488 5.12084 0.800564C5.09308 0.799261 5.06527 0.799261 5.03751 0.800564V0.79834ZM4.71806 2.75666L7.95419 8.10394L6.60696 9.43728C6.4698 9.57567 6.38191 9.75528 6.35682 9.94851C6.33172 10.1417 6.37081 10.3379 6.46807 10.5067C8.524 14.067 10.96 16.8368 14.3709 18.3401C14.5343 18.4127 14.7159 18.4343 14.8918 18.4021C15.0678 18.3699 15.2299 18.2854 15.357 18.1595L16.7876 16.729L22.0098 19.9929C21.4316 21.2943 20.6777 22.0692 19.8154 22.5207C18.8165 23.0437 17.5965 23.1428 16.2042 22.854C13.4197 22.2766 10.0563 20.0882 7.3153 17.2845C4.57434 14.4809 2.45323 11.0717 1.91249 8.29838C1.64212 6.91171 1.76156 5.71739 2.2736 4.77058C2.71449 3.95533 3.46338 3.25737 4.71806 2.75666Z" fill="black" fill-rule="evenodd"></path>
                </svg> (11) 2268-2361 </a>
            </div>

            <div class="infos">
                <h3>Unidade Moema</h3>    
                <h4>Av. Bem Te Vi, 43<br>
                São Paulo / SP</h4>
                 <a class="whatsapp" href="https://api.whatsapp.com/send?phone=11993008364"><svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M9.66234 5.79834C9.61158 5.80341 9.56155 5.81416 9.51319 5.83038C7.99467 6.29675 6.91924 7.12152 6.33846 8.19546C5.75768 9.26939 5.68429 10.5282 5.93362 11.807C6.43228 14.3646 8.20183 17.1135 10.44 19.4029C12.6783 21.6923 15.3771 23.5248 17.9507 24.0585C19.2376 24.3253 20.5189 24.2547 21.6262 23.6749C22.7335 23.0951 23.6145 22.0139 24.1617 20.4682C24.2122 20.3233 24.2123 20.1656 24.1621 20.0206C24.1118 19.8756 24.0141 19.7518 23.8847 19.6692L19.0267 16.6223L19.0161 16.6118C18.9922 16.596 18.9672 16.5818 18.9415 16.5692C18.8701 16.5229 18.7906 16.4903 18.7071 16.4733C18.7 16.4732 18.6929 16.4732 18.6858 16.4733C18.6682 16.4691 18.6505 16.4655 18.6326 16.4627C18.629 16.4627 18.6255 16.4627 18.6219 16.4627C18.5082 16.4561 18.3947 16.4781 18.2917 16.5266C18.2543 16.5447 18.2186 16.5661 18.1851 16.5906C18.163 16.6036 18.1417 16.6178 18.1212 16.6332C18.1138 16.6437 18.1067 16.6544 18.0999 16.6652C18.0731 16.6881 18.0482 16.7131 18.0253 16.7398L16.96 17.8158C15.0284 16.8435 13.5431 15.2135 12.2085 13.0111L13.1886 12.0416C13.2074 12.0249 13.2251 12.0071 13.2419 11.9884C13.2567 11.9748 13.271 11.9606 13.2845 11.9457C13.2845 11.9422 13.2845 11.9387 13.2845 11.9352C13.2993 11.9216 13.3136 11.9074 13.3271 11.8926C13.3272 11.889 13.3272 11.8855 13.3271 11.882C13.3345 11.8715 13.3416 11.8608 13.3484 11.85C13.3557 11.8431 13.3628 11.836 13.3697 11.8288C13.3776 11.8114 13.3847 11.7936 13.3911 11.7755C13.3911 11.772 13.3911 11.7685 13.3911 11.765C13.3947 11.758 13.3983 11.7509 13.4017 11.7438C13.4093 11.7299 13.4164 11.7157 13.423 11.7012C13.4273 11.6836 13.4308 11.6659 13.4337 11.648C13.4337 11.6444 13.4337 11.6409 13.4337 11.6374C13.4382 11.6163 13.4418 11.5949 13.4443 11.5735C13.4444 11.57 13.4444 11.5664 13.4443 11.5629C13.445 11.5452 13.445 11.5274 13.4443 11.5096C13.4444 11.5061 13.4444 11.5026 13.4443 11.4991C13.445 11.4813 13.445 11.4635 13.4443 11.4458C13.4444 11.4388 13.4444 11.4317 13.4443 11.4247C13.4415 11.4068 13.4379 11.389 13.4337 11.3714C13.4337 11.3679 13.4337 11.3643 13.4337 11.3608C13.4231 11.3205 13.4088 11.2813 13.3911 11.2436C13.3911 11.2401 13.3911 11.2366 13.3911 11.2331C13.3789 11.2037 13.3646 11.1752 13.3484 11.1478L13.3378 11.1267C13.3343 11.1231 13.3307 11.1196 13.3271 11.1162L10.2909 6.13032C10.232 6.03236 10.1494 5.95075 10.0508 5.89304C9.95211 5.83532 9.84052 5.80336 9.72626 5.80005C9.70497 5.79905 9.68364 5.79905 9.66234 5.80005V5.79834ZM9.41731 7.30046L11.8996 11.4021L10.8662 12.4248C10.761 12.531 10.6936 12.6687 10.6743 12.8169C10.6551 12.9652 10.685 13.1156 10.7596 13.2451C12.3366 15.976 14.2051 18.1006 16.8215 19.2537C16.9469 19.3094 17.0861 19.3259 17.2211 19.3012C17.356 19.2765 17.4804 19.2117 17.5779 19.1152L18.6752 18.0179L22.6809 20.5214C22.2373 21.5197 21.6591 22.114 20.9976 22.4604C20.2315 22.8616 19.2957 22.9375 18.2277 22.7161C16.0919 22.2732 13.512 20.5945 11.4095 18.444C9.30707 16.2935 7.68008 13.6785 7.26531 11.5512C7.05792 10.4876 7.14954 9.57148 7.5423 8.84523C7.88048 8.2199 8.45491 7.68453 9.41731 7.30046Z" fill="black" fill-rule="evenodd"></path>
                    <path clip-rule="evenodd" d="M15 0C6.72579 0 0 6.72232 0 15C0 18.008 0.89136 20.8195 2.46298 23.2314L0.785483 28.8294C0.7495 28.9495 0.747365 29.0773 0.779314 29.1986C0.811263 29.3199 0.876058 29.43 0.966567 29.5169C1.05708 29.6037 1.16979 29.664 1.29231 29.6909C1.41483 29.7178 1.5424 29.7104 1.66098 29.6695L7.14028 27.7785C9.42182 29.1867 12.1198 30 15 30C23.2774 30 30 23.2774 30 15C30 6.72252 23.2774 0 15 0V0ZM15 1.36344C22.5408 1.36344 28.6365 7.45913 28.6365 15C28.6365 22.5408 22.5408 28.6366 15 28.6366C12.2664 28.6366 9.72404 27.8348 7.59827 26.4555C7.51136 26.3991 7.41274 26.3632 7.3099 26.3506C7.20706 26.3381 7.10271 26.3491 7.00477 26.3829L2.47342 27.9467L3.86093 23.3162C3.89005 23.219 3.89711 23.1165 3.88159 23.0162C3.86607 22.9159 3.82837 22.8204 3.77122 22.7365C2.23077 20.4763 1.36343 17.8437 1.36343 15C1.36343 7.45933 7.46272 1.36344 15 1.36344V1.36344Z" fill="black" fill-rule="evenodd"></path>
                </svg> (11) 99300-8364 </a>
                <a class="phone" href="tel:1129250719"> <svg fill="none" height="25" viewBox="0 0 24 25" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M5.03751 0.79834C4.97133 0.804948 4.90611 0.818959 4.84306 0.840115C2.86336 1.44812 1.46131 2.52337 0.70415 3.92347C-0.0530139 5.32356 -0.148685 6.96463 0.17637 8.6318C0.826471 11.9661 3.13344 15.5499 6.0514 18.5346C8.96936 21.5194 12.4879 23.9083 15.8431 24.6041C17.5207 24.952 19.1912 24.86 20.6348 24.1041C22.0784 23.3482 23.227 21.9386 23.9404 19.9235C24.0062 19.7346 24.0064 19.529 23.9408 19.3399C23.8753 19.1509 23.7479 18.9895 23.5793 18.8819L17.2459 14.9096L17.232 14.8959C17.2008 14.8753 17.1683 14.8568 17.1348 14.8403C17.0416 14.7799 16.938 14.7375 16.8292 14.7153C16.82 14.7152 16.8107 14.7152 16.8015 14.7153C16.7785 14.7098 16.7553 14.7052 16.732 14.7015C16.7274 14.7015 16.7228 14.7015 16.7181 14.7015C16.5699 14.6929 16.4219 14.7216 16.2876 14.7849C16.2388 14.8083 16.1923 14.8362 16.1487 14.8682C16.1199 14.8851 16.0921 14.9037 16.0653 14.9237C16.0557 14.9374 16.0464 14.9514 16.0376 14.9655C16.0027 14.9954 15.9702 15.0279 15.9403 15.0627L14.5514 16.4656C12.0333 15.198 10.0969 13.0729 8.35697 10.2016L9.63475 8.93771C9.65916 8.91586 9.68235 8.89269 9.7042 8.86829C9.72353 8.8506 9.74206 8.83206 9.75975 8.81273C9.75979 8.80814 9.75979 8.80355 9.75975 8.79895C9.77908 8.78126 9.79762 8.76273 9.81531 8.7434C9.81535 8.73881 9.81535 8.73421 9.81531 8.72962C9.82496 8.71596 9.83422 8.70203 9.84309 8.68784C9.85255 8.67886 9.86181 8.66967 9.87087 8.66028C9.8811 8.63753 9.89036 8.61437 9.89864 8.59084C9.89868 8.58624 9.89868 8.58165 9.89864 8.57706C9.90343 8.56795 9.90806 8.55876 9.91253 8.54949C9.92244 8.53131 9.9317 8.51278 9.94031 8.49394C9.94586 8.47099 9.95049 8.44784 9.9542 8.42452C9.95423 8.41993 9.95423 8.41533 9.9542 8.41074C9.96015 8.3832 9.96478 8.35539 9.96809 8.32741C9.96812 8.32281 9.96812 8.31822 9.96809 8.31363C9.96899 8.29048 9.96899 8.2673 9.96809 8.24415C9.96812 8.23956 9.96812 8.23497 9.96809 8.23037C9.96899 8.20724 9.96899 8.18409 9.96809 8.16096C9.96823 8.15177 9.96823 8.14258 9.96809 8.1334C9.96438 8.11006 9.95975 8.08689 9.9542 8.06392C9.95423 8.05933 9.95423 8.05474 9.9542 8.05014C9.94038 7.99763 9.92179 7.94651 9.89864 7.89739C9.89868 7.8928 9.89868 7.8882 9.89864 7.88361C9.88274 7.84532 9.86417 7.8082 9.84309 7.7725L9.8292 7.74494C9.82462 7.74029 9.81999 7.73573 9.81531 7.73119L5.85696 1.23115C5.78018 1.10343 5.67254 0.997034 5.54391 0.921794C5.41528 0.846555 5.2698 0.80488 5.12084 0.800564C5.09308 0.799261 5.06527 0.799261 5.03751 0.800564V0.79834ZM4.71806 2.75666L7.95419 8.10394L6.60696 9.43728C6.4698 9.57567 6.38191 9.75528 6.35682 9.94851C6.33172 10.1417 6.37081 10.3379 6.46807 10.5067C8.524 14.067 10.96 16.8368 14.3709 18.3401C14.5343 18.4127 14.7159 18.4343 14.8918 18.4021C15.0678 18.3699 15.2299 18.2854 15.357 18.1595L16.7876 16.729L22.0098 19.9929C21.4316 21.2943 20.6777 22.0692 19.8154 22.5207C18.8165 23.0437 17.5965 23.1428 16.2042 22.854C13.4197 22.2766 10.0563 20.0882 7.3153 17.2845C4.57434 14.4809 2.45323 11.0717 1.91249 8.29838C1.64212 6.91171 1.76156 5.71739 2.2736 4.77058C2.71449 3.95533 3.46338 3.25737 4.71806 2.75666Z" fill="black" fill-rule="evenodd"></path>
                </svg> (11) 2925-0719 </a>           
            </div>

            <div class="infos">
                <h3>Unidade Vila Nova Conceição</h3>   
                <h4>Rua Afonso Braz  618B<br>
                São Paulo / SP</h4>
                <a class="whatsapp" href="https://api.whatsapp.com/send?phone=11965726586"><svg fill="none" height="30" viewBox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="M9.66234 5.79834C9.61158 5.80341 9.56155 5.81416 9.51319 5.83038C7.99467 6.29675 6.91924 7.12152 6.33846 8.19546C5.75768 9.26939 5.68429 10.5282 5.93362 11.807C6.43228 14.3646 8.20183 17.1135 10.44 19.4029C12.6783 21.6923 15.3771 23.5248 17.9507 24.0585C19.2376 24.3253 20.5189 24.2547 21.6262 23.6749C22.7335 23.0951 23.6145 22.0139 24.1617 20.4682C24.2122 20.3233 24.2123 20.1656 24.1621 20.0206C24.1118 19.8756 24.0141 19.7518 23.8847 19.6692L19.0267 16.6223L19.0161 16.6118C18.9922 16.596 18.9672 16.5818 18.9415 16.5692C18.8701 16.5229 18.7906 16.4903 18.7071 16.4733C18.7 16.4732 18.6929 16.4732 18.6858 16.4733C18.6682 16.4691 18.6505 16.4655 18.6326 16.4627C18.629 16.4627 18.6255 16.4627 18.6219 16.4627C18.5082 16.4561 18.3947 16.4781 18.2917 16.5266C18.2543 16.5447 18.2186 16.5661 18.1851 16.5906C18.163 16.6036 18.1417 16.6178 18.1212 16.6332C18.1138 16.6437 18.1067 16.6544 18.0999 16.6652C18.0731 16.6881 18.0482 16.7131 18.0253 16.7398L16.96 17.8158C15.0284 16.8435 13.5431 15.2135 12.2085 13.0111L13.1886 12.0416C13.2074 12.0249 13.2251 12.0071 13.2419 11.9884C13.2567 11.9748 13.271 11.9606 13.2845 11.9457C13.2845 11.9422 13.2845 11.9387 13.2845 11.9352C13.2993 11.9216 13.3136 11.9074 13.3271 11.8926C13.3272 11.889 13.3272 11.8855 13.3271 11.882C13.3345 11.8715 13.3416 11.8608 13.3484 11.85C13.3557 11.8431 13.3628 11.836 13.3697 11.8288C13.3776 11.8114 13.3847 11.7936 13.3911 11.7755C13.3911 11.772 13.3911 11.7685 13.3911 11.765C13.3947 11.758 13.3983 11.7509 13.4017 11.7438C13.4093 11.7299 13.4164 11.7157 13.423 11.7012C13.4273 11.6836 13.4308 11.6659 13.4337 11.648C13.4337 11.6444 13.4337 11.6409 13.4337 11.6374C13.4382 11.6163 13.4418 11.5949 13.4443 11.5735C13.4444 11.57 13.4444 11.5664 13.4443 11.5629C13.445 11.5452 13.445 11.5274 13.4443 11.5096C13.4444 11.5061 13.4444 11.5026 13.4443 11.4991C13.445 11.4813 13.445 11.4635 13.4443 11.4458C13.4444 11.4388 13.4444 11.4317 13.4443 11.4247C13.4415 11.4068 13.4379 11.389 13.4337 11.3714C13.4337 11.3679 13.4337 11.3643 13.4337 11.3608C13.4231 11.3205 13.4088 11.2813 13.3911 11.2436C13.3911 11.2401 13.3911 11.2366 13.3911 11.2331C13.3789 11.2037 13.3646 11.1752 13.3484 11.1478L13.3378 11.1267C13.3343 11.1231 13.3307 11.1196 13.3271 11.1162L10.2909 6.13032C10.232 6.03236 10.1494 5.95075 10.0508 5.89304C9.95211 5.83532 9.84052 5.80336 9.72626 5.80005C9.70497 5.79905 9.68364 5.79905 9.66234 5.80005V5.79834ZM9.41731 7.30046L11.8996 11.4021L10.8662 12.4248C10.761 12.531 10.6936 12.6687 10.6743 12.8169C10.6551 12.9652 10.685 13.1156 10.7596 13.2451C12.3366 15.976 14.2051 18.1006 16.8215 19.2537C16.9469 19.3094 17.0861 19.3259 17.2211 19.3012C17.356 19.2765 17.4804 19.2117 17.5779 19.1152L18.6752 18.0179L22.6809 20.5214C22.2373 21.5197 21.6591 22.114 20.9976 22.4604C20.2315 22.8616 19.2957 22.9375 18.2277 22.7161C16.0919 22.2732 13.512 20.5945 11.4095 18.444C9.30707 16.2935 7.68008 13.6785 7.26531 11.5512C7.05792 10.4876 7.14954 9.57148 7.5423 8.84523C7.88048 8.2199 8.45491 7.68453 9.41731 7.30046Z" fill="black" fill-rule="evenodd"></path>
                    <path clip-rule="evenodd" d="M15 0C6.72579 0 0 6.72232 0 15C0 18.008 0.89136 20.8195 2.46298 23.2314L0.785483 28.8294C0.7495 28.9495 0.747365 29.0773 0.779314 29.1986C0.811263 29.3199 0.876058 29.43 0.966567 29.5169C1.05708 29.6037 1.16979 29.664 1.29231 29.6909C1.41483 29.7178 1.5424 29.7104 1.66098 29.6695L7.14028 27.7785C9.42182 29.1867 12.1198 30 15 30C23.2774 30 30 23.2774 30 15C30 6.72252 23.2774 0 15 0V0ZM15 1.36344C22.5408 1.36344 28.6365 7.45913 28.6365 15C28.6365 22.5408 22.5408 28.6366 15 28.6366C12.2664 28.6366 9.72404 27.8348 7.59827 26.4555C7.51136 26.3991 7.41274 26.3632 7.3099 26.3506C7.20706 26.3381 7.10271 26.3491 7.00477 26.3829L2.47342 27.9467L3.86093 23.3162C3.89005 23.219 3.89711 23.1165 3.88159 23.0162C3.86607 22.9159 3.82837 22.8204 3.77122 22.7365C2.23077 20.4763 1.36343 17.8437 1.36343 15C1.36343 7.45933 7.46272 1.36344 15 1.36344V1.36344Z" fill="black" fill-rule="evenodd"></path>
                </svg> (11) 96572-6586 </a>
            <a class="phone" href="tel:1129259892"><svg fill="none" height="25" viewbox="0 0 24 25" width="24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd"
                        d="M5.03751 0.79834C4.97133 0.804948 4.90611 0.818959 4.84306 0.840115C2.86336 1.44812 1.46131 2.52337 0.70415 3.92347C-0.0530139 5.32356 -0.148685 6.96463 0.17637 8.6318C0.826471 11.9661 3.13344 15.5499 6.0514 18.5346C8.96936 21.5194 12.4879 23.9083 15.8431 24.6041C17.5207 24.952 19.1912 24.86 20.6348 24.1041C22.0784 23.3482 23.227 21.9386 23.9404 19.9235C24.0062 19.7346 24.0064 19.529 23.9408 19.3399C23.8753 19.1509 23.7479 18.9895 23.5793 18.8819L17.2459 14.9096L17.232 14.8959C17.2008 14.8753 17.1683 14.8568 17.1348 14.8403C17.0416 14.7799 16.938 14.7375 16.8292 14.7153C16.82 14.7152 16.8107 14.7152 16.8015 14.7153C16.7785 14.7098 16.7553 14.7052 16.732 14.7015C16.7274 14.7015 16.7228 14.7015 16.7181 14.7015C16.5699 14.6929 16.4219 14.7216 16.2876 14.7849C16.2388 14.8083 16.1923 14.8362 16.1487 14.8682C16.1199 14.8851 16.0921 14.9037 16.0653 14.9237C16.0557 14.9374 16.0464 14.9514 16.0376 14.9655C16.0027 14.9954 15.9702 15.0279 15.9403 15.0627L14.5514 16.4656C12.0333 15.198 10.0969 13.0729 8.35697 10.2016L9.63475 8.93771C9.65916 8.91586 9.68235 8.89269 9.7042 8.86829C9.72353 8.8506 9.74206 8.83206 9.75975 8.81273C9.75979 8.80814 9.75979 8.80355 9.75975 8.79895C9.77908 8.78126 9.79762 8.76273 9.81531 8.7434C9.81535 8.73881 9.81535 8.73421 9.81531 8.72962C9.82496 8.71596 9.83422 8.70203 9.84309 8.68784C9.85255 8.67886 9.86181 8.66967 9.87087 8.66028C9.8811 8.63753 9.89036 8.61437 9.89864 8.59084C9.89868 8.58624 9.89868 8.58165 9.89864 8.57706C9.90343 8.56795 9.90806 8.55876 9.91253 8.54949C9.92244 8.53131 9.9317 8.51278 9.94031 8.49394C9.94586 8.47099 9.95049 8.44784 9.9542 8.42452C9.95423 8.41993 9.95423 8.41533 9.9542 8.41074C9.96015 8.3832 9.96478 8.35539 9.96809 8.32741C9.96812 8.32281 9.96812 8.31822 9.96809 8.31363C9.96899 8.29048 9.96899 8.2673 9.96809 8.24415C9.96812 8.23956 9.96812 8.23497 9.96809 8.23037C9.96899 8.20724 9.96899 8.18409 9.96809 8.16096C9.96823 8.15177 9.96823 8.14258 9.96809 8.1334C9.96438 8.11006 9.95975 8.08689 9.9542 8.06392C9.95423 8.05933 9.95423 8.05474 9.9542 8.05014C9.94038 7.99763 9.92179 7.94651 9.89864 7.89739C9.89868 7.8928 9.89868 7.8882 9.89864 7.88361C9.88274 7.84532 9.86417 7.8082 9.84309 7.7725L9.8292 7.74494C9.82462 7.74029 9.81999 7.73573 9.81531 7.73119L5.85696 1.23115C5.78018 1.10343 5.67254 0.997034 5.54391 0.921794C5.41528 0.846555 5.2698 0.80488 5.12084 0.800564C5.09308 0.799261 5.06527 0.799261 5.03751 0.800564V0.79834ZM4.71806 2.75666L7.95419 8.10394L6.60696 9.43728C6.4698 9.57567 6.38191 9.75528 6.35682 9.94851C6.33172 10.1417 6.37081 10.3379 6.46807 10.5067C8.524 14.067 10.96 16.8368 14.3709 18.3401C14.5343 18.4127 14.7159 18.4343 14.8918 18.4021C15.0678 18.3699 15.2299 18.2854 15.357 18.1595L16.7876 16.729L22.0098 19.9929C21.4316 21.2943 20.6777 22.0692 19.8154 22.5207C18.8165 23.0437 17.5965 23.1428 16.2042 22.854C13.4197 22.2766 10.0563 20.0882 7.3153 17.2845C4.57434 14.4809 2.45323 11.0717 1.91249 8.29838C1.64212 6.91171 1.76156 5.71739 2.2736 4.77058C2.71449 3.95533 3.46338 3.25737 4.71806 2.75666Z"
                        fill="black" fill-rule="evenodd"></path>
                </svg>(11) 2925-9892</a> 
            </div>
        </div>
        <div class="ui small images imagens-lojas">
            <img src="/assets/image/liveisa/1.jpg">
            <img src="/assets/image/liveisa/2.jpg">
            <img src="/assets/image/liveisa/3.jpg">
            <img src="/assets/image/liveisa/4.jpg">
            <img src="/assets/image/liveisa/5.jpg">
            <img src="/assets/image/liveisa/6.jpg">
            <img src="/assets/image/liveisa/7.jpg">
            <img src="/assets/image/liveisa/8.jpg">
            <img src="/assets/image/liveisa/9.jpg">
            <img src="/assets/image/liveisa/10.jpg">
            <img src="/assets/image/liveisa/11.jpg">
            <img src="/assets/image/liveisa/12.jpg">
            <img src="/assets/image/liveisa/13.jpg">
            <img src="/assets/image/liveisa/14.jpg">
            <img src="/assets/image/liveisa/15.jpg">
            <img src="/assets/image/liveisa/16.jpg">
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {        
        $('body').addClass('hotsite');            
        $('.products-carousel-mais .column > div').removeClass('slideshow');            
    });
</script>
<script>
    $(document).ready(function () {
        $('.imagens-lojas').slick({
            dots: false,
            infinite: true,
            centerMode: false,            
            speed: 300,
            slidesToShow: 3,
            slidesToScroll: 3,
            autoplay: true,
            adaptiveHeight: true,
            autoplaySpeed: 5000,
            responsive: [
                {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
                },
                {
                breakpoint: 600,
                settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                }
                },
                {
                breakpoint: 480,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
                }
            ]
        });
    });
</script>